<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Create Shopping List {% endblock %}
<!-- login page content -->
{% block content %}

    <h1 align="center">Make a Shopping List</h1>

    <form method="POST">
      <!-- blog title form -->
      <label for="title">Flavour Title</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="Flavour Name"/>
      <br/>
      <!-- blog post form -->
      <label for="title">Any Notes?</label>
      <textarea name="content" id="content" class="form-control"></textarea>


     <br/>
     <div align="center">
        <!-- submit button -->
        <button class="btn btn-primary" type="submit">Create Shopping List!</button>
    </div>

</form>
{% endblock %}

