
<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Home {% endblock %}

<!-- login page content -->
{% block content %}
<h1 align="center">Home</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Images with Paragraphs in Grey Boxes with Black Outline</title>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Website</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <img src="static/assets/img/Profait.PNG" alt="Header Image" class="header-image">
        </header>
        <main>
            <!-- Your main content here -->
        </main>
        <h1 align="center">PROFAIT FLAVOURS</h1>
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="static/assets/img/Profait1.png" alt="Profait1">
            <div class="grey-box">
                <b>FLAVOUR 1: BERRY BLISS</b>
                <p>Give in to a luscious mound of creamy yogurt, crunchy granola and juicy fresh strawberries and blueberries that are piled up to give you the bliss of having a spoonful of perfect stack of yumminess in your mouth. Berry Bliss not only a delicious treat, it is your time of bliss and freshness!</p>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="static/assets/img/Profait2.png" alt="Profait2">
            <div class="grey-box">
                <b>FLAVOUR 2: NATURES DELIGHT</b>
                <p>Take an adventure through a luscious mound of creamy yogurt, crunchy granola and juicy fresh raspberries and blackberries that are piled up to give you the bliss of having a spoonful of perfect stack of yumminess in your mouth. Natures delight is not only a delicious treat, it is your time of nature and freshness!</p>    
            </div>
        </div>
    </div>
</body>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="static/assets/img/Profait4.png" alt="Profait4">
            <div class="grey-box">
                <b>FLAVOUR 3: SWEET SOAKER</b>
                <p>Take a trip through a luscious mound of creamy yogurt, crunchy granola and juicy fresh watermelon and bananas that are piled up to give you the bliss of having a spoonful of perfect stack of yumminess in your mouth. Sweet Soaker is not only a delicious treat, it is your time of Sweetness and freshness!</p>
            </div>
        </div>
     <div class="image-wrapper">
            <img src="static/assets/img/Profait3.png" alt="Profait3">
            <div class="grey-box">
                <b>FLAVOUR 4: THE NUTTY CRUNCH</b>
                <p>Navigate through a crunchy road of mixed nuts and a mound of creamy yogurt and crunchy granola that are piled up to give you the crunchy impact desired in your mouth. Nutty Crunch is not only a delicious  and scrumptious crunchy treat, it is your time of crunch and freshness! (MAY CONTAIN NUTS!)</p>
            </div>
        </div>
    </div>
</body>

{% endblock %}



